.tableformat td:nth-child(1){
    width: 10%;
    text-align: center;
}
.tableformat td:nth-child(2){
    width: 18%;
}
.tableformat td:nth-child(3){
    width: 40%;
}
.tableformat td:nth-child(4){
    width: 10%;
    text-align: center;
}
.tableformat td:nth-child(5){
    width: 12%;
    text-align: center;
}
.tableformat td:nth-child(6){
    width: 10%;
    text-align: center;
}
