<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add</title>

    <!-- BootStrap CSS lib -->
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">

    <!-- JQuery lib -->
    <script type="text/javascript" src="../lib/jquery/jquery-3.2.1.js"></script>

    <!-- BootStrap JS lib -->
    <script href="lib/bootstrap/js/bootstrap.js"></script>

    <!-- Local JS File -->
    <script type="text/javascript" src="../js/add.js"></script>
</head>
<body>

<header>
    <div id="header"></div>
</header>

<!--Remaining section-->

</body>
</html>