<html>
<link rel="stylesheet" href="/TwentyTwo/css/header.css">
<div class="menu">
    <!-- Menu -->
    <ul>
        <li class="menuitem"><a href="/TwentyTwo/index.html">Accueil</a></li>
        <li class="menuitem"><a href="/TwentyTwo/views/news.html">Ajouts Récents</a></li>
        <li class="menuitem"><a href="/TwentyTwo/views/top.html">Top 22</a></li>
        <li class="menuitem"><a href="/TwentyTwo/views/add.html">Ajouter</a></li>
        <li class="menuitem"><a href="/TwentyTwo/views/rules.html">Règles</a></li>
    </ul>
</div>
</html>
