<html>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" class="col-sm-4" href="/TwentyTwo/index.html">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavBar">
            <ul class="nav navbar-nav">
                <li ><a href="/TwentyTwo/views/top.html">Top 22</a></li>
                <li><a href="/TwentyTwo/views/news.html">Ajouts récents</a></li>
                <li><a href="/TwentyTwo/views/rules.html">Règles</a></li>
                <li><a href="/TwentyTwo/views/add.html">Ajouter</a></li>
            </ul>
        </div>
    </div>
</nav>
</html>
