<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavBar">
                <span class="glyphicon glyphicon-menu-hamburger" style="color: white;"></span>
            </button>
            <a class="navbar-brand" href="/TwentyTwo/index.html">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavBar">
            <ul class="nav navbar-nav">
                <li ><a href="/TwentyTwo/views/top.html">Top 22</a></li>
                <li><a href="/TwentyTwo/views/add.html">Soumettre</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/TwentyTwo/views/rules.html">Règles</a></li>
            </ul>
        </div>
    </div>
</nav>