<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rules</title>

    <!-- BootStrap CSS lib -->
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">

    <!-- JQuery lib -->
    <script type="text/javascript" src="../lib/jquery/jquery-3.2.1.js"></script>

    <!-- BootStrap JS lib -->
    <script href="lib/bootstrap/js/bootstrap.js"></script>

    <!-- Local JS File -->
    <script type="text/javascript" src="../js/rules.js"></script>
</head>
<body>

<header>
    <div id="header"></div>
</header>


<!--Remaining section-->

<div class="container">
    <div class="page-header" style="margin-top: 100px">
        <h1>Règles du 22</h1>
    </div>
    <div class="row">
        <div class="col-sm-4" style="text-align: center">
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse.
        </div>
        <div class="col-sm-4" style="text-align: center;">
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse.
        </div>
        <div class="col-sm-4" style="text-align: center">
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse.
        </div>
    </div>
</div>

</body>
</html>