<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Règles">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rules</title>

    <!-- BootStrap CSS lib -->
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">

    <!-- JQuery lib -->
    <script type="text/javascript" src="../lib/jquery/jquery-3.2.1.js"></script>

    <!-- BootStrap JS lib -->
    <script src="../lib/bootstrap/js/bootstrap.js"></script>

    <!-- Local JS File -->
    <script type="text/javascript" src="../js/rules.js"></script>
</head>
<body>

<header>
    <div id="header"></div>
</header>

<!--Remaining section-->

<div class="container">
    <div class="page-header" style="padding-top: 30px">
        <h1 style="text-align: center">Règles du 22</h1>
    </div>
    <div class="row" style="padding-bottom: 30px">
        <div class="col-sm-4" style="text-align: center">
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse.
        </div>
        <div class="col-sm-4" style="text-align: center;">
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse.
        </div>
        <div class="col-sm-4" style="text-align: center">
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse
            Brasse Brasse Brasse Brasse Brasse Brasse Brasse.
        </div>
    </div>
    <div class="row" style="padding-top: 10px; background-color: grey;padding-bottom: 10px">
        <div class="col-sm-8">
            <h2>Nos <strong>valeurs:</strong></h2>
            <h4> Brasse Brasse Brasse Brasse Brasse Brasse Brasse</h4>
            <p> Brasse Brasse Brasse Brasse Brasse Brasse Brasse </p>
        </div>
        <div class="col-sm-4">
            <img src="/TwentyTwo/images/logo22.jpg" class="img-responsive" alt="image.jpg" width="150px" height="150px">
        </div>
    </div>
    <div class="row" style="padding-top: 10px;padding-bottom: 10px">
        <div class="col-sm-4">
            <div class="pull-right">
                <img src="/TwentyTwo/images/logo22.jpg" class="img-responsive" alt="image.jpg" width="150px" height="150px">
            </div>
        </div>
        <div class="col-sm-8 pull-right" style="text-align: right">
            <h2>Notre <strong>mission:</strong></h2>
            <h4> Brasse Brasse Brasse Brasse Brasse Brasse Brasse</h4>
            <p> Brasse Brasse Brasse Brasse Brasse Brasse Brasse </p>
        </div>
    </div>

</div>

</body>
</html>